* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, rgba(48, 96, 159, 0.9), rgba(110, 163, 231, 0.7));
  /* background: url('./images/weather-background.jpg') no-repeat top center; */
  min-height: 100vh;
  z-index: -1;
  color: #fff;
}

header {
  text-align: center;
}

.main-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
